.box {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  opacity: 0.8;
  width: 100%;
  height: 920px;
}

.parentUserBox {
  display: flex;
  justify-content: center;
}

.userBox {
  background-color: rgb(230, 201, 148);
  height: 300px;
  width: 80%;
  border: 1px solid white;
}

.body {
  background-color: rgba(0, 0, 0, 0.719);
}

.center {
  text-align: center;
}
